
bin/Debug/net6.0/BASE.dll
bin/Debug/net6.0/BASE.pdb
bin/Release/net6.0/BASE.dll
bin/Release/net6.0/BASE.pdb
obj/Debug/net6.0/BASE.dll
obj/Debug/net6.0/BASE.pdb
obj/Debug/net6.0/project.razor.vs.json
obj/Debug/net6.0/ref/BASE.dll
obj/Debug/net6.0/refint/BASE.dll
obj/Release/net6.0/BASE.dll
obj/Release/net6.0/BASE.pdb
obj/Release/net6.0/PubTmp/Out/BASE.dll
obj/Release/net6.0/PubTmp/Out/BASE.pdb
obj/Release/net6.0/ref/BASE.dll
obj/Release/net6.0/refint/BASE.dll
