@using BASE.Extensions
@model BASE.Areas.Backend.Models.VM_Event
@section CustomScripts
    {
    <script type="text/javascript">
        $(document).ready(function () {
        @*檔案上傳物件*@
                $('.File').each(function () {
                    $(this).FileInputCus({
                        dropZoneEnabled: false,
                        previewFileType: 'false'
                    });
                });
        });
    </script>
}

<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead class="table-primary">
                            <tr>
                                <th>項次</th>
                                <th>表單名稱</th>
                                <th>功能</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="max-width:30vw;">1</td>
                                <td style="max-width:30vw;">健康申明調查表</td>
                                <td style="max-width:30vw;">
                                    @if (Model.RegistrationExtendItem.File_Health == null)
                                    {
                                        <button type="button" class="btn btn-warning btn-sm" disabled="disabled">參與者未回填</button>
                                    }else
                                    {
                                        <a class="btn btn-primary btn-sm" href="@Model.RegistrationExtendItem.File_Health.FilePath" title="點擊下載健康申明調查表">查看</a>
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td style="max-width:30vw;">2</td>
                                <td style="max-width:30vw;">滿意度問卷</td>
                                <td style="max-width:30vw;">
                                    @if (Model.isFillQuiz)
                                    { 
                                        <a class="btn btn-primary btn-sm" href="~/Frontend/Activity/QuizView/@EncryptService.AES.RandomizedEncrypt(Model.RegistrationExtendItem.register.Id.ToString())" title="(另開新視窗)前台滿意度問卷" target="_blank">查看</a>
                                    }else
                                    {
                                        <button type="button" class="btn btn-warning btn-sm" disabled="disabled">參與者未回填</button>
                                    }
                                    
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>