<footer class="app-footer">
    <strong><i>Copyright © 2022 iscom-7-wolf.</i> <i class="d-none d-sm-inline-block">All rights reserved.</i></strong>
    <div class="float-end d-none d-sm-inline-block">
        <b>Version 1.0.0</b> 
    </div>
</footer>