@using BASE.Service
@model BASE.Areas.Frontend.Models.VM_OtherUpload

@section Scripts {
    <!-- Parsley -->
    <script src="~/lib/Parsley/v2.9.2/dist/parsley.min.js" asp-append-version="true"></script>
    <script src="~/lib/Parsley/v2.9.2/dist/i18n/zh_tw.js" asp-append-version="true"></script>
    <script src="~/lib/Parsley/parsley-custom.js" asp-append-version="true"></script>
}

@section Css {
    <link href="~/lib/Parsley/v2.9.2/dist/parsley.css" rel="stylesheet" />
}

@await Html.PartialAsync("_BannerPartial", new BASE.Areas.Frontend.Models.Extend.BannerPartial(){ Main = "諮詢輔導服務", Detail = "諮詢服務滿意度問卷上傳" })

<div class="section pb-md-4 py-lg-5">
    <div class="container" id="content">
        <a accesskey="C" href="#" title="中央內容區塊" class="sr-only sr-only-focusable">:::</a>
        <div class="row justify-content-center">
            <div class="col-lg-10 col-12">
                <div class="registrationBox bg-white p-4">
                    <div class="row">
                        <div class="col-12 text-center border-bottom rb-title">
                            <h2 class="fc-green fw-bold"><span>諮詢服務滿意度問卷上傳</span></h2>
                            <small>請上傳諮詢服務滿意度問卷，確認後送出。</small>
                        </div>
                    </div>
                    <form action="" method="post" class="row g-3 mt-2 align-items-center" enctype="multipart/form-data" data-parsley-validate="">
                        @Html.AntiForgeryToken()

                        <div class="col-12">
                            <a href="~/sample/ConsultSatisfy.docx" download="諮詢服務滿意度調查.docx" class="link-primary">
                                <i class="fa-solid fa-file"></i>
                                範例檔案下載</a>
                        </div>

                        <div class="col-md-10 col-12">
                            <label for="formFile" class="form-label sr-only">上傳檔案</label>
                            @Html.TextBoxFor(x => x.ModifyFile, new { @FileID = "FileId", @class="form-control File", @type = "file", accept = ".docx,.pdf,.png,.jpg,.jpeg,.odt", data_parsley_file_type="docx,pdf,png,jpg,jpeg,odt", data_parsley_errors_container="#ActivityImage-errors-container" })
                            <div id="ActivityImage-errors-container"></div>
                        </div>
                        <div class="col-md-2 col-12">
                            <button class="btn btn-success w-100" type="submit">送出</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
