@using BASE.Service
@using Microsoft.AspNetCore.Html;
@model BASE.Areas.Frontend.Models.VM_News

@await Html.PartialAsync("_BannerPartial", new BASE.Areas.Frontend.Models.Extend.BannerPartial(){ Main = "最新消息", Detail = Model.NewsExtendItem.Header.Title })

<!-- ================================================== -->
<!-- 最新消息 內頁-->
<!-- ================================================== -->
<div class="section pb-md-4 py-lg-5">
    <div class="container">
        <a accesskey="C" href="#" title="中央內容區塊" class="sr-only sr-only-focusable">:::</a>
        <div class="row justify-content-center">
            <div class="col-md-10 col-12">
                <div class="contentBox bg-white p-md-5 p-3">
                    <div class="title">
                        <h2 class="fc-green fw-bold">@Model.NewsExtendItem.Header.Title</h2>
                    </div>
                    <div class="date my-4">
                        <i class="fa-regular fa-calendar-days me-2 fc-ored" aria-hidden="true"></i>
                        @Model.NewsExtendItem.Header.DisplayDate.ToString("yyyy / MM / dd")
                    </div>
                    
                    @if(Model.NewsExtendItem.FileInfo != null)
                    {
                        <img src="@Model.NewsExtendItem.FileInfo.FilePath" class="img-fluid" alt="最新消息圖片">
                    }

                    <div>
                        @{
                            String content = System.Text.RegularExpressions.Regex.Replace(Model.NewsExtendItem.Header.Contents, "<.*?>", String.Empty);
                                   content = content.Replace(Environment.NewLine, "<br />");
                        }
                        @(new HtmlString(content))
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>      