<?xml version="1.0" encoding="utf-8"?>
<!--
此檔案由您的 Web 專案發佈/封裝處理序使用。您可以藉由編輯此 MSBuild 檔案，
自訂此處理序的行為。若要深入了解，請前往 https://go.microsoft.com/fwlink/?LinkID=208121。 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>FTP</WebPublishMethod>
    <ResourceId>/subscriptions/372e8eec-17c9-4d24-98a3-fdf71d33a5aa/resourceGroups/EHR/providers/Microsoft.Web/sites/EHRTW</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://ehrtw.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>bfaa51b3-9cb0-4908-8d5e-6289bd4f329a</ProjectGuid>
    <publishUrl>ftps://waws-prod-hk1-035.ftp.azurewebsites.windows.net</publishUrl>
    <DeleteExistingFiles>false</DeleteExistingFiles>
    <FtpPassiveMode>true</FtpPassiveMode>
    <FtpSitePath>site/wwwroot</FtpSitePath>
    <UserName>EHRTW\$EHRTW</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>